.nav{
  margin-left:auto;
  width:35%;
  align-items: flex-end;
 
}

.nav__web-logo {
  position: absolute;
  top: 40px;
  left: 70px;
}
.nav__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 70px;
  
}
